In [28]:
pip install python-docx

Requirement already satisfied: python-docx in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (1.2.0)
Requirement already satisfied: lxml>=3.1.0 in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (from python-docx) (6.0.2)
Requirement already satisfied: typing_extensions>=4.9.0 in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (from python-docx) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

In [29]:
!pip install pandas

Requirement already satisfied: pandas in /opt/miniconda3/lib/python3.13/site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [30]:
pip install nltk

Requirement already satisfied: nltk in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (3.9.2)
Requirement already satisfied: click in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (from nltk) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (from nltk) (2026.1.15)
Requirement already satisfied: tqdm in /opt/miniconda3/envs/tf_env/lib/python3.9/site-packages (from nltk) (4.67.1)
Note: you may need to restart the kernel to use updated packages.

In [31]:
from docx import Document

def extract_text_from_docx(file_path):
    doc = Document(file_path)
    full_text = []
    for para in doc.paragraphs:
        full_text.append(para.text)
    return " ".join(full_text)

In [32]:
import os
import pandas as pd

resume_folder = "resumes"

resumes = []

for file in os.listdir(resume_folder):
    if file.endswith(".docx"):
        text = extract_text_from_docx(os.path.join(resume_folder, file))
        resumes.append({
            "name": file,
            "resume_text": text
        })

df = pd.DataFrame(resumes)
df.head()

,name,resume_text
0,Venkat_BA.docx,Venkat N Phone: 314-662-2902 Email: vhealthba@...
1,Shashank.docx,\t SHASHANK TIWARI Shashank.tiwari44@gmail.com...
2,Anudeep N_Sr Java Developer.docx,Anudeep Sr Java Programmer anudeepreddynallama...
3,ram nandyala.docx,...
4,Neha Mugghala.docx,Sourya Senior Java/J2EE Developer sny.java@gma...

In [33]:
import re
import nltk
from nltk.corpus import stopwords

nltk.download("stopwords")
stop_words = set(stopwords.words("english"))

def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+", " ", text)
    text = re.sub(r"[^a-zA-Z ]", " ", text)
    words = text.split()
    words = [w for w in words if w not in stop_words]
    return " ".join(words)

df["clean_resume"] = df["resume_text"].apply(clean_text)

[nltk_data] Downloading package stopwords to /Users/bp/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [34]:
job_description = """
Looking for an AI/ML Engineer with strong Python skills,
experience in machine learning, NLP, data analysis, and SQL.
"""

jd_clean = clean_text(job_description)

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=3000)
resume_vectors = vectorizer.fit_transform(df["clean_resume"])
jd_vector = vectorizer.transform([jd_clean])

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

scores = cosine_similarity(resume_vectors, jd_vector).flatten()
df["match_percentage"] = scores * 100

In [37]:
ranked_df = df.sort_values(by="match_percentage", ascending=False)
ranked_df[["name", "match_percentage"]]

                                                 name  match_percentage
102                       Kashyap K. Vora resume.docx         14.149594
90                                 Vijay Bhargav.docx         13.832719
31                                      Rajesh_k.docx         12.302564
50                                Vivek Joshi_CV.docx         10.753763
179                                   vema reddy.docx         10.671277
..                                                ...               ...
107                          Adelina_Erimia_PMP1.docx          0.392641
86                      employer_mounika details.docx          0.000000
185  Raju Goduguchinta_Technical Program Manager.docx          0.000000
125                                   SAURABH_PM.docx          0.000000
62              Resume Vishal PM - MSIS, PMP-PMI.docx          0.000000

[223 rows x 2 columns]

In [38]:
SKILLS = [
    "python", "machine learning", "deep learning",
    "nlp", "sql", "data analysis", "tensorflow",
    "pytorch", "excel"
]

def extract_skills(text):
    return [skill for skill in SKILLS if skill in text]

df["skills"] = df["clean_resume"].apply(extract_skills)

In [39]:
jd_skills = extract_skills(jd_clean)

def explain_resume(resume_skills):
    matched = list(set(resume_skills) & set(jd_skills))
    missing = list(set(jd_skills) - set(resume_skills))
    return matched, missing

df["explanation"] = df["skills"].apply(explain_resume)